@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  background-color: #f7f7f9;
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

nav .navbar-brand {
  color: #6070ff;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}
